@import "./allmixing";
@import "./reset";
@import "./variables";

.typebox__wrapper{
    width: 100%;
    background:$color_one;
    border-radius: 6px;
    padding: 20px;
    .typebox__icon{
        font-size: 24px;
        // background: #38220f;
        color: $extra_two;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .typebox__title{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    color: $color_two;
     }
    .typebox__desc{ 
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1.5;
    color: $color_two;
    }
}