

$color_one:#b6c6ca;
$color_two:#2F4F4F;
$color_three:#3b4646de;
$extra_one:#3a3939;
$extra_two:#ffffff;
//font size

$font-size: (
    "bold":30px,
    "medium":20.8px,
    "regular":16px,
    "small":14px,
);


//font weight
$font-weight:(
    "exbold":800,
    "bold":600,
    "medium":500,
    "regular":300,
)